<div class="animal">
  <div class="type"><label>Type:</label> {{ animal.type }}</div>
  <div class="birthday"><label>Birthday:</label> {{ animal.birthday | date('F j, Y') }}</div>
  <div class="weight"><label>Weight:</label>
    <span class="weight-amount">{{  animal.weight }}</span>
    <span class="weight-unit">kg</span>
    <span class="weight-convert"></span
  </div>
  <div class="description">{{ animal.description }}</div>
  <div class="habitat"><label>Habitat:</label> {{ habitat_name }}</div>
</div>

{% if animal.weight > 2 %}
  <div class="conditional">Bigger than 2 kg</div>
{% endif %}

{% for i in range(low=1, high=animal.weight, step=1) %}
  <div class="count">Counting {{ i }} kg.</div>
{% endfor %}
